
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}


body{
    background-image: url(img.jpg) ;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    overflow:auto;
}
a{
    text-decoration:none ;
}
.container{
    position: relative;
    height: 100%;
    border-radius: 30px;
}
header{
position: relative;
top: 0;
left: 0;
width: 90%;
padding: 25px 5%;  
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100px;
display
}
.logo{
    font-size: 25px;
    color: #fff;
    font-weight:400;
}
.navbar a{
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    margin: 25px;
    text-decoration:none ;
    border-bottom: 2px solid transparent;
    transition: 0.5s;

}
.navbar a:hover,
.navbar a.active{
    border-color: #fff;
}
.home{
display: flex;
align-items: center;
height: 100%;
gap: 50px;
padding: 50px 5% 0;
color: white;
}

.home-details h1{
    font-size: 55px;
    line-height:1;
}
.home-details h2{
    font-size: 35px;
}
.home-details p {
    font-size: 15px;
    margin: 10px 0 20px;
}
.home-details .download-social{
display: flex;
align-items: center;
}
.btn{
    background-color: white;
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 30px;
    color: black;
    box-shadow: 0 0 10px white;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}
.btn:hover{
    background: transparent;
    box-shadow: none;
    color: white;
}
 .home-details.social-icon{
    margin-left: 20px;
}
.social-icon a{
    display: inline-flex;
    padding: 8px;
    border:2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    transition: .5s;
}
.social-icon a:hover{
    background-color:black;
    box-shadow: 0 0 10px white;
    color:black;
}
.img-box{
    height: 100px;
}

.home-img .img-box {
    position: relative;
    height: 26vw;
    width: 26vw;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 40px rgb(184, 17, 175);
    overflow: hidden;
    margin-top: 30px;
}

.home-img .img-box  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.about {
    padding: 80px 5%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.about-content {
    max-width: 800px;
    text-align: center;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-details p {
    font-size: 16px;
    margin: 6px 0;
}
html{
    scroll-behavior: smooth;
}